<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout builder</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
</head>
<body>

  <div id="app">
    <md-toolbar>
      <md-button class="md-icon-button">
        <md-icon>menu</md-icon>
      </md-button>
      <h1 class="md-title">Workout builder</h1>
    </md-toolbar>
    <h1>Workouts</h1>
    <md-card v-for="workout in workouts">
      <md-card-header>
        <div class="md-title">{{workout.name}}</div>
        <div class="md-subhead">Description</div>
      </md-card-header>
      <md-card-actions>
        <md-button class="md-raised md-primary">Do workout</md-button>
        <md-button>Edit</md-button>
      </md-card-actions>
    </md-card>
    <md-button class="md-fab md-fab-bottom-right">
      <md-icon>add</md-icon>
      <md-tooltip md-direction="top">Create a new workout</md-tooltip>
    </md-button>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-material@0.7.1"></script>
  <script src="js/app.js"></script>
</body>
</html>
